extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='/upload' method='post' enctype='multipart/form-data')
    input(type='file' name='upload')
    button(type='submit') Upload
  if files
    ul
      for file in files
        li
          a(href=`/file/${file.id}`)= file.originalName
  else
    p There is no file
