doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      ul
        li
          a(href='/') Home
          if currentUser && currentUser.username
            li= currentUser.username
            li
              a(href='/logout') Logout
          else
            li
              a(href='/signup') Sign up
            li
              a(href='/login') Log in
    block content
